<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delivery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilosPadroes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/welcome2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Delivery.styles.css" asp-append-version="true" />
</head>
<!--<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Delivery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  
</body>-->

<body>

    <main class="tela__inteira ">
        <section class="tela__primaria flex">
            <div class="flex tela__primaria--img">
                <img src="~/img/cesta1.svg" alt="Cesta de frutas">
                <img class="primaria__sombra" src="~/img/sombraCesta1.svg" alt="Sombra da Cesta de frutas">
            </div>
        </section>
        <section class="tela__secundaria flex">
            <div class="user flex">
                <div class="user__texto">
                    <h1 class="user__nome--label">Obtenha o combo de salada de frutas mais fresco</h1>
                    <p class="user__paragrafo--pg2">Entregamos a melhor e mais fresca salada <br> de frutas da cidade.
                        Peça um combo hoje mesmo!!!</p>
                </div>
                <a href="@Url.Action("_authentic3", "HomeController")">  <button class="user__btn--continuar">Vamos continuar</button></a>
            </div>
        </section>
    </main>

    <script src="./js/main.js"></script>

</body>
</html>
