.form-container {
    display: flex;
    background-image: linear-gradient(180deg, #FFA451, 54%, #F7F5F5 50%);
    align-items: center;
    justify-content: center;
}

.form {
    width: 44%;
    height: 83%;
    padding: 2.43vh 5.43vh 5.43vh 5.43vh;
    background: #F7F5F5;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
}

.Armazem {
    font-family: BDScript;
}

.Armazem::before {
    content: url(../../assets/img/logoBefore.svg);
}

.titulo {
    margin-bottom: 4vh;
    color: #27214D;
    font-size: 4vh;
}

.grid {
    display: grid;
    grid-template-columns: 44.83vh 44.83vh;
    gap: 2.35vh 4vh;
}

.label {
    font-size: 2.17vh;
}


.input {
    font-size: 2.17vh;
    border-radius: 10px;
    background: #F7F5F5;
    width: 100%;
    height: 7.5vh;
    box-shadow: 2px 2px 2px rgba(169, 169, 169, 0.9);
    padding: 4px 1.3vh;
    border: none;
    box-sizing: border-box;
}

.img__eye{
    position:absolute;
    width:20px;
    height:20px;
    cursor:pointer;
    top:24px;
    right:10px;
}

.nomes{
    position:relative;
}

.span-required{
    display: none;
    font-size:16px;
    color:#e63636;
}

.botao {
    background: #FFA451;
    width: 43.8vh;
    height: 7.5vh;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.17vh;
    filter: drop-shadow(0px 4px 8px rgba(72, 148, 255, 0.5));
}

@media screen and (max-width:1440px) {
    .form {
        width: 47%;
    }
}


@media screen and (max-width:960px) {
    .form {
        width: 73%;
    }
}

@media screen and (max-width:912px) {
    .form {
        width: 75%;
        height: 86%;
        padding: 2.43vh 5.43vh 0px 5.43vh;
    }

    .grid {
        gap: 2.8vh 2.2vh;
        grid-template-columns: 26.83vh 26.83vh;
    }

    .input {
        font-size: 2vh;
    }

    .botao {
        font-size: 3.4vh
    }

    .label {
        font-size: 2.4vh;
    }
}

@media screen and (max-width:415px) {
    .form {
        width: 68%;
    }

    .titulo {
        font-size: 3vh;
    }

    .grid {
        grid-template-columns: 18.83vh 18.83vh;
    }

    .input {
        font-size: 1.5vh;
        height: 6.5vh;
    }

    .botao {
        width: 32.8vh;
    }
}

/*
@media screen and (max-width:1024px) {
    .form {
        width:51%;
        height: 81%;
    }
}

@media screen and (max-width:1280px) {
    .form {
        width:56%;
        height: 79%;
    }
} 