@{
    ViewData["Title"] = "Welcome";
}

<main class="tela__inteira ">
        <section class="tela__primaria flex">
            <div class="flex tela__primaria--img">
                <img src="../assets/img/cesta1.svg" alt="Cesta de frutas">
                <img class="primaria__sombra" src="../assets/img/sombraCesta1.svg" alt="Sombra da Cesta de frutas">
            </div>
        </section>
        <section class="tela__secundaria flex">
            <div class="user flex">
                <div class="user__texto">
                    <h1 class="user__nome--label">Obtenha o combo de salada de frutas mais fresco</h1>
                    <p class="user__paragrafo--pg2">Entregamos a melhor e mais fresca salada <br> de frutas da cidade.
                        Peça um combo hoje mesmo!!!</p>
                </div>
                <a class="user__btn--continuar" href="authentic3.html"><button class="user__btn--continuar">Vamos continuar</button></a>
            </div>
        </section>
    </main>

