.tela__primaria {
    height: 60%;
    background: #FFA451;
    justify-content: center;
}

.tela__primaria--img {
    width: 27%;
    justify-content: center;
    flex-direction: column;
}

.primaria__sombra {
    margin-top: 8px;
}

.tela__secundaria {
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome {
    flex-direction: column;
}

.nomes{
    display:flex;
}

.imagem__olho{
    width:20px;
    height:20px;
    cursor:pointer;
}

.nome__label {
    font-family: Medium;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 2.56vh;
    letter-spacing: -0.01em;
    color: #27214D;
    margin-bottom: 1.8vh;
    margin-top: 2.08vh;
}

.paragrafo_pg2 {
    margin-bottom: 8.5vh;
    font-weight: 400;
    font-size: 1.7vh;
    line-height: 2.56vh;
    letter-spacing: -0.01em;
    color: #5D577E;

}

.nome__input--usuario {
    width: 52.89vh;
    height: 5.97vh;
    background: #f5caca;
    border-radius: 10px;
    margin-bottom: 8px;
}

.nome__input {
    width: 52.89vh;
    height: 5.97vh;
    background: #f5caca;
    border-radius: 10px;
    margin-bottom: 5.28vh;
}


.btn__pedido {
    width: 26.08vh;
    height: 5.97vh;
    background: #FFA451;
    border-radius: 10px;
    border: none;
    margin-right: 2.08vh;
    font-size: 2vh;
}

.btn__cadastro {
    width: 26.08vh;
    height: 5.97vh;
    background: #FFA451;
    border-radius: 10px;
    border: none;
    font-size: 2vh;
}

.btn__continuar {
    width: 100%;
    height: 7.28vh;
}

@media screen and (max-width: 961px) {
    .tela__primaria--img {
        width: 50%;
    }
}

@media screen and (max-width: 912px) {
    .tela__primaria--img {
        width: 77%;
    }
}

@media screen and (max-width: 375px) {
    .nome__label {
        font-size: 1.7vh;
    }

    .nome__input--usuario {
        width: 34.89vh;
    }
}

@media screen and (max-width: 415px) {
    .tela__primaria--img {
        width: 91%;
    }

    .primaria__sombra {
        margin-top: 20px;
    }

    .nome__label {
        font-size: 2vh;
    }

    .nome__input--usuario {
        width: 41.89vh;
    }

    .nome__input {
        width: 41.89vh;
    }

    .btn__pedido {
        width: 20.08vh;
    }

    .btn__cadastro {
        width: 20.08vh;
    }
}