
.form{
   padding: 40px;
}

.flexivel{
    flex-direction: column;
    
}

.grid{
    display:grid;
    grid-template-columns: 330px 330px;
    gap: 10px 30px;

}

.label{
    font-size:16px;
}


.nome{ 
    font-size: 16px;
    border-radius: 10px;
    background: #F7F5F5;
    width:327px;
    height:56px;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
    padding:4px 10px;
    left:0px;
    top:0px;
    border:none;
    box-sizing: border-box;
    font-size:16px;
}

.botao{
    background: #4682B4;
    width:327px;
    height:56px;
    margin-top: 30px; 
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 16px;
}

.form-container{
    display: flex;
    background: #E5E5E5;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.color {
    background: #F7F5F5;
    display: flex;
    flex-direction: column;
     align-items: center;
     border-radius: 15px;
    }

.titulo{
    margin-bottom: 20px;
    color:#27214D;
    font-size: 4.0vh;
}

@media screen and (max-width:960px) {
    .flex{
       width:85%; 
    }
  
}

@media screen and (max-width:912px){
    .flex{
        width:87%;
    }

    .grid{
        gap: 4.8vh 3.2vh;
    }

    .botao{
        font-size:3.4vh
    }

    .label{
        font-size: 2.4vh;
    }

    .nome{
      font-size:2.5vh;
    }
}

@media screen and (max-width:540px) {
    .flex{
       width:75%;
    }
}






 