
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #FFA451, 50%, #F7F5F5 50%);
}

.container{
    height: 60%;
    width:41%;
   display:flex;
   justify-content: center;
   align-items: center;
   background: #F7F5F5;
   padding: 24px;
   border-radius:10px;
   border: none;
   box-sizing:border-box;
   filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
   margin-top:20px;
}

.section{
    width: 100%;
    height:100%;
    flex-direction: column;
    background: #F7F5F5;
    border-radius: 15px;
    align-items: center;
    
}

.nome_titular{

}

.numero_cartao{

}

.label{

    margin-top: 20px;
    color:#27214d;
    font-size: 2.3vh;

}

.input{
    width:58.1vh;
    height:7.8vh;
    left:0px;
    top:0px;
    background: #F7F5F5;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
    border-radius: 10px; 
    margin-bottom: 10px;
}

.input_num{
   width:26.4vh;
   height:8.7vh;
   left:0px;
   top:0px;
   background: #F7F5F5;
   border-radius: 10px;
   box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
   
}

.input_data{
    width:26.4vh;
    height:8.7vh;
    left:0px;
    top:0px;
    background: #F7F5F5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);

}

.btn{
    background: #FFA451;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:25px;
    width:33.2vh;
    height:5.6vh;
    cursor: pointer;
    font-size:2.46vh;
    margin-top: 8.4vh;
}

.grid{
    display: grid;
    
}

.lp{
    gap: 27px;
}

@media screen and (max-width:960px){
    .container{
        width:80%;
    }

}

@media screen and (max-width:375px){
    .container{
        width:80%;
    }

    .input{
        width:43.1vh;
    }

    .input_data{
        width:26.4vh;
    }

    .input_num{
        width:26.4vh;
    }
}

@media screen and (max-width:415px){
    .container{
        width:80%;
    }

    .input{
        width:43.1vh;
    }

    .input_data{
        width:26.4vh;
    }

    .input_num{
        width:26.4vh;
    }
}

@media screen and (max-width:412px){

    .input{
        width:80%;
    }
    .input_data{
        width:80%;
    }

    .input_num{
        width:80%;
    }
}

@media screen and (max-width:360px){
    .input{
        width:95%;
    }
}

@media screen and (max-width:820px){
    .container{
        width:87%;
    }

    .input{
        width:55.1vh;
    }

    .input_num{
        width:25.4vh;
    }

    .input_data{
        width:25.4vh;
    }
     
}

@media screen and (max-width:912px){
    .input{
        width:48.1vh;
    }

    .input_data{
        width:22.4vh;
    }

    .input_num{
        width:22.4vh;
    }
}

@media screen and (max-width:540px){
    .input{
        width:58.1vh;
    }

    .input_data{
        width:26.4vh;

    }

    .input_num{
        width:26.4vh;
    }

}
