.container{
   display:flex;
   justify-content: center;
   align-items: center;
   background: #FFFFFF;
   
}

.section{
   width: 50%;
    flex-direction: column;
    background: #F7F5F5;
    border-radius: 15px;
    padding: 24px;
}

.label{
    margin-top: 20px;
    color:#27214d;
    font-size: 16px;
}

.input{
    width:327px;
    height:50px;
    left:0px;
    top:0px;
    background: #FFFFFF;
    border-radius: 10px; 
}

.input_num{
   width:150px;
   height:56px;
   left:0px;
   top:0px;
   background: #FFFFFF;
   border-radius: 10px;
   
}

.input_data{
    width:150px;
    height:56px;
    left:0px;
    top:0px;
    background: #FFFFFF;
    border-radius: 10px;

}

.btn{
    background: #FFA451;
    display:flex;
    justify-content: center;
}

.grid{
    display: grid;
    
}

.lp{
    gap: 27px;
}