.cabecalho {
    height: 80px;
    align-items: center;
    gap: 24px;
    padding: 20px 32px;
}

.cabecalho__logo {
    width: 52px;

}

.cabecalho__menu {
    flex-direction: row;
    gap: 24px;
    color: black;
}

.none {
    display: none;
}

.cabecalho__barra {
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__barra--pesqui {
    width: 85%;
    background: #f0f0f0;
    border-radius: 8px;
    height: 48px;
    padding-left: 50px;
    line-height: 1.25em;
    font-weight: 300;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;
    background-position-x: 2%;
}

.cabecalho__barra--filtro {
    padding: 16px 6px;
    width: 35px;
    background: #f0f0f0;
    border-radius: 10px;
    justify-content: center;
}

.selecao__berry {
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 9px 20px;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 2px rgba(169, 169, 169, 0.9);
}