.cabecalho {
    background: rgb(23, 58, 255);
    height: 80px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.cabecalho__logo {
    width: 52px;

}

.menu {
    flex-direction: row;
    /*     align-items: center;
    justify-content: center ;*/
}

.none {
    display: none;
}

.selecao{
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.selecao__berry{
    filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
}