.cabecalho {
    height: 10.72vh;
    align-items: center;
    gap: 3.21vh;
    background: #ffffff;
    padding: 2.68vh 4.28vh;
    position: fixed;
    width: 100%;
    top: 0;
}

.cabacalho__icone {
    box-shadow: 0px 2px 1px rgb(0 0 0 / 5%), 0px 0px 1px rgb(0 0 0 / 25%);
    padding: 1.2vh;
    border-radius: 50%;
    width: 3.21vh;
    justify-content: center;
}

.cabecalho__logo {
    width: 6.97vh;

}

.cabecalho__menu {
    flex-direction: row;
    gap: 3.21vh;
    color: black;

}

.none {
    display: none;
}


.cabecalho__user {
    height: 10.72vh;
    align-items: center;
    gap: 3.21vh;
}

.cabecalho__barra {
    width: 50%;
    align-items: center;
}

.cabecalho__barra--pesqui {
    width: 85%;
    background: #f0f0f0;
    border-radius: 8px;
    height: 6.43vh;
    padding-left: 6.7vh;
    line-height: 1.25em;
    font-weight: 300;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3.21vh;
    background-position-x: 2%;
}

.cabecalho__barra--filtro {
    padding: 2.14vh 0.8vh;
    width: 35px;
    background: #f0f0f0;
    border-radius: 10px;
    justify-content: center;
    margin-left: 0.53vh;
}

/* Aqui termina o header */



.filtro {
    width: 100%;
    position: fixed;
    top: 140px;
}

.selecao {
    background: #f0f0f0;
    width: fit-content;
    justify-content: space-evenly;
    padding: 0.93vh 0px 0.93vh 0px;

}

.selecao__berry {
    text-align: center;
    cursor: pointer;
    padding: 1.2vh 2.68vh;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: max-content;
}

/* Aqui acaba a seção de de filtro */

.home {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 29.82vh;
}

.combinado {
    gap: 5%;
    margin-bottom: 6.7vh;
}

.container__prato {
    flex-direction: row;
}

.popular {
    gap: 3.21vh;
    margin-top: 8vh;
    margin-bottom: 3.21vh;
}

.recomentado {
    font-weight: 400;
    font-size: 2.41vh;
    line-height: 4vh;
    color: #27214D;
}

.prato {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2.14vh 2.14vh 2.68vh 2.14vh;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px .1px .1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.prato__1 {
    background: #FFFCF2;
}

.prato__2 {
    background: #FEF4F4;
}

.prato__3 {
    background: #F1EFF6;
}

.nome__prato {
    color: #27214D;
    font-weight: 500;
    font-size: 1.87vh;
    line-height: 2.41vh;
    text-align: center;
    padding: 1.74vh 0px 1.74vh 0px;
}

.prato__coracao {
    width: 3.35vh;
    height: 3.48vh;
    margin-left: 86%;
}

.prato__img {
    width: 20.77vh;
    margin: 0 auto;
}

.nome__prato {
    font-family: Medium;
    font-weight: 500;
    font-size: 2.14vh;
    line-height: 2.41vh;
    padding: 2.54vh 0px 2.54vh 0;
}

@media screen and (max-width: 540px) {

    .container__seleca-carrosel {
        position: relative;
    }

    .empacotador__carrosel {
        overflow-x: auto;
    }

    .empacotador__carrosel::-webkit-scrollbar {
        display: none;
    }

    .selecao {
        flex-flow: row nowrap;
        justify-content: none;
        gap: 20px;
    }

}