.carrinho {
  background: #FFA451;
  height: 11%;
  align-items: center;
  color: #ffffff;
}

.carrinho__gap {
  gap: 32px;
  align-items: center;
  margin-left: 24px;
  width: 50%;
  justify-content: space-between;
}

.volta {
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #27214D;
  background: #ffffff;
  border-radius: 100px;
  padding: 6px 8px;
  gap: 4px;
}

.volta::before {
  content: url(../img/seta__voltar.svg);
  font-size: 19px;
}

/* aqui termina o header */

.carrinho__itens {
  height: 71%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48px;
}

.itens {
  height: fit-content;
  align-items: center;
  gap: 60px;
}

.prato__itens {
  gap: 32px;
  align-items: center;
}

.prato__img {
  padding: 32px;
  width: 80px;
  background: #F1EFF6;
  border-radius: 10px;
}

.prato__itens--texto{
  margin: 20px 0px;
  font-weight: 300;
font-size: 12px;
}

/* aqui termina o main */

.carrinho__total {
  height: 11%;
  gap: 42px;
}

.total__texto{
  font-weight: 300;
font-size: 12px;
line-height: 16px;
letter-spacing: -0.01em;
margin-bottom: 4px;
}

.checkout{
  width: 199px;
  height: 56px;
}