.carrinho {
  background: #FFA451;
  height: 11%;
  align-items: center;
  color: #ffffff;
}

.carrinho__gap {
  gap: 32px;
  align-items: center;
  margin-left: 24px;
  width: 50%;
  justify-content: space-between;
}

.volta {
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #27214D;
  background: #ffffff;
  border-radius: 100px;
  padding: 6px 8px;
  gap: 4px;
}

.cesta{
  font-size:16px;
}

.volta::before {
  content: url(../img/seta__voltar.svg);
  font-size: 19px;
}

/* aqui termina o header */

.carrinho__itens {
  height: 71%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48px;
}

.itens {
  height: fit-content;
  align-items: center;
  gap: 48px;
}

.prato__itens {
  gap: 32px;
  align-items: center;
}

.prato__img {
  padding: 32px;
  width: 80px;
  background: #F1EFF6;
  border-radius: 10px;
}

.salada{
  font-size:16px;
}

.prato__itens--texto{
  margin: 20px 0px;
  font-weight: 300;
font-size: 12px;
}

.cifrao{
  font-size:16px;
}

/* aqui termina o main */

.carrinho__total {
  height: 11%;
  gap: 42px;
}

.total__texto{
  font-weight: 300;
font-size: 12px;
line-height: 16px;
letter-spacing: -0.01em;
margin-bottom: 4px;
}

.checkout{
  width: 199px;
  height: 56px;
}

/*RESPONSIVIDADE*/

@media screen and (max-width:1280px){
  .volta{
    font-size:15px;
    line-height: 25px;
  }
  .prato__itens--texto{
    font-size:16px;
  }
  .carrinho__total{
    height:6%;
  }
  .total__texto{
    font-size:18px;
    margin-bottom: 7px;
    margin-left:17px;
  }
  .checkout{
    font-size:20px;
  }
  .cesta{
    font-size:20px;
  }
  .salada{
    font-size:18px;
  }
  .prato__itens--texto{
    font-size:18px;
  }

  .cifrao{
    font-size:18px
  }
}

@media screen and (max-width:912px){
  .volta{
    font-size:21px;
    line-height: 25px;
  }
  .cesta{
    font-size:24px;
  }

  .salada{
    font-size:24px;
  }

  .prato__itens--texto{
    font-size:24px;
  }

  .cifrao__main{
    font-size:24px;
  }

  .logo__adicao{
    width:30px;
    height:30px;
  }

  .logo__subtracao{
    width: 30px;
    height:30px;
  }

  .total__texto{
    font-size:30px;
  }

  .checkout{
    font-size:24px;
  }
}

@media screen and (max-width:540px){
  .volta{
    font-size:12px;
    line-height: 12px;;
  }
  .cesta{
    font-size:16px;
  }
  .prato__img{
    margin-left:30px;
  }
  .salada{
    font-size:15px;
  }
  .prato__itens--texto{
    font-size:16px;
  }
  .total__texto{
    font-size:25px;
  }
  .checkout{
    width:175px;
    height:50px;
  }
}

@media screen and (max-width:415px){
  .carrinho{
    width:475px;
  }
  .itens{
    gap:20px;
  }
  .volta{
    font-size:15px;
    line-height:15px;
  }
  .cesta{
    font-size:17px;
  }
  .prato__img{
    margin-left:25px;
  }
  .salada{
    font-size:16px;
  }
  .prato__itens--texto{
    font-size:18px;
  }
}

@media screen and (max-width:375px){
  .itens{
    gap:17px;
  }
}


