@font-face {
    font-family: BDScript;
    src: url(../fonts/BadScript-Regular.ttf);
}

@font-face {
    font-family: Regular;
    src: url(../fonts/TT\ Norms\ Pro\ Regular.otf);
}

@font-face {
    font-family: Medium;
    src: url(../fonts/TT\ Norms\ Pro\ Medium.otf);
}
@font-face {
    font-family: Bold;
    src: url(../fonts/TT\ Norms\ Pro\ Bold.otf);
}

body, html{
    height: 100%;
  }

main{
    height: 100% ;
     display: flex;
        align-items: center;
        justify-content: center;
}


.flex{
    display: flex;
}

.container{
    width: 15%;
    display: flex;
    flex-direction: column;
}

.fruit-btn{
    font-family: Bold;
    color: #FFF2E7;
    border: none;
    width: 184px;
height: 40px;
    background: #FFA451;
box-shadow: 0px -30px 60px rgba(32, 32, 32, 0.05);
border-radius: 16px 0px;
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 40px;
}


.logo__adicao{
    width: 24px;
    height: 24px;
    background: #FFF2E7;
    border-radius: 50%;
    background-image: url('../img/mais.svg') ;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

.cifrao::before{
    color: #F08626;
    content: '\0024';
}

.logo__subtracao{

    width: 24px;
    height: 24px;
    background: #FFF2E7;
    border-radius: 50%;
    background-image: url('../img/menos.svg') ;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}
    
.logo__coracao{
    width: 24px;
    height: 24px;
    background: #FFF2E7;
    border-radius: 50%;
    background-image: url('../img/coracao.svg') ;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    }

/* Estilos padrões */

.menu{
    flex-direction: row;
}