
.tela__primaria{
    height: 60%;
    background: #FFA451;
    justify-content: center;
}

.tela__primaria--img{
    width: 27%;
    justify-content: center;
    flex-direction: column;
}

.primaria__sombra{
    margin-top: 8px;
}

.tela__secundaria{
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome{
    flex-direction: column;
}

.nome__label{
    font-family: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #27214D;
    margin-bottom: 17px;
}

.paragrafo_pg2{
    margin-bottom:80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #5D577E;

}


.nome__input--usuario{
    width: 327px;
    height: 56px;
    background: #f5caca;
    border-radius: 10px;
    margin-bottom: 8px;
}
  
.nome__input{
    width: 327px;
    height: 56px;
    background: #f5caca;
    border-radius: 10px;
    margin-bottom: 58px;
}


.btn__pedido{
    width: 163px;
    height: 56px;
    background: #FFA451;
    border-radius: 10px;
    border: none;
}

.btn__cadastro{
    width: 163px;
    height: 56px;
    background: #FFA451;
    border-radius: 10px;
    border: none;
}

.btn__continuar{
    width: 100%;
    height:56px;
}


@media screen and (max-width: 912px) {
    .tela__primaria--img {
        width: 81%;
    }
}

@media screen and (max-width: 412px) {
    .tela__primaria--img {
        width: 97%;
    }
}
