
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #FFA451, 50%, #F7F5F5 50%);
}

.container{
    height: 60%;
    width:41%;
   display:flex;
   justify-content: center;
   align-items: center;
   background: #F7F5F5;
   padding: 24px;
   border-radius:10px;
   border: none;
   box-sizing:border-box;
   filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
   margin-top:20px;
}

.section{
    width: 100%;
    height:100%;
    flex-direction: column;
    background: #F7F5F5;
    border-radius: 15px;
    align-items: center;
    gap:2.1vh;
    
}

.nome_titular{
    margin-left:70px;
}

.numero_cartao{
    margin-left:70px;
}

.label{

    margin-top: 20px;
    color:#27214d;
    font-size: 2.3vh;

}

.input{
    width:58.1vh;
    height:7.8vh;
    left:0px;
    top:0px;
    background: #F7F5F5;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
    border-radius: 10px; 
    margin-bottom: 10px;
}

.input_num{
   width:22.4vh;
   height:8.7vh;
   left:0px;
   top:0px;
   background: #F7F5F5;
   border-radius: 10px;
   box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
   
}

.input_data{
    width:27.4vh;
    height:8.7vh;
    left:0px;
    top:0px;
    background: #F7F5F5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);

}

.btn{
    background: #FFA451;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:25px;
    width:33.2vh;
    height:5.6vh;
    cursor: pointer;
    font-size:2.46vh;
    margin-top: 4.4vh;
}

.grid{
    display: grid;
    
}

.lp{
    gap: 27px;
}

/* tablet */

@media screen and (max-width:1280px){
    .container{
        width:50%;
    }

    .label{
        font-size:3.3vh;
        margin-top:0vh;
    }

    .input{
        width:58.1vh;
    }

    .nome_titular{
        margin-left:7.0vh;
    }

    .numero_cartao{
        margin-left:7.0vh;
    }

    .input_data{
        width:25.4vh;
    }

    .input_num{
        width:26.4vh;
    }
}

@media screen and (max-width:1024px){
    .btn{
        margin-top: 2.4vh;
    }

    .label{
        margin-top:0vh;
        font-size: 3.3vh;
    }

    .input_data{
        width:26.4vh;
    }

    .input_num{
        width:25.4vh;
    }
}



@media screen and (max-width:960px){
    .container{
        width:80%;
    }


}

@media screen and (max-width:913px){

    .container{
        width:90%;
    }

    .input{
        width:50.1vh;
    }

    .nome_titular{
        margin-left:2.5vh;
    }

    .numero_cartao{
        margin-left:2.5vh;
    }

    .input_data{
        width:23.4vh;
    }

    .input_num{
        width:23.4vh;
    }
}

@media screen and (max-width:820px){
    .container{
        width:91%;
    }

    .input{
        width:55.1vh;
    }

    .nome_titular{
        margin-left:1.5vh;
    }

    .numero_cartao{
        margin-left:1.5vh;
    }

    .input_num{
        width:25.4vh;
    }

    .input_data{
        width:26.4vh;
    }

    .btn{
        margin-top:7.4vh
    }
     
}

@media screen and (max-width:768px){
    .container{
        width:90%;
    }

    .input{
        width:58.4vh;
    }

    .input_num{
        width:27.4vh;
    }

    .input_data{
        width:26.4vh;
    }
}

@media screen and (max-width:540px){
    .input{
        width:58.1vh;
    }

    .input_data{
        width:26.4vh;

    }

    .input_num{
        width:26.4vh;
    }

    .btn{
        margin-top:4.4vh;
    }

}

/* celular */

@media screen and (max-width:415px){
    .container{
        width:87%;
    }

    .input{
        width:34.1vh;
    }

    .input_data{
        width:15.4vh;
    }

    .input_num{
        width:15.4vh;
    }
    .label{
        font-size:2.3vh;
    }
}

@media screen and (max-width:412px){

    .input{
        width:95%;
    }
    .input_data{
        width:13.4vh;
    }

    .input_num{
        width:13.4vh;
    }
    .label{
        font-size:2.3vh;
    }
}


@media screen and (max-width:375px){
    .container{
        width:80%;
    }

    .input{
        width:38.1vh;
    }

    .input_data{
        width:16.4vh;
    }

    .input_num{
        width:16.4vh;
    }

    .nome_titular{
        margin-left: 10px;
    }

    .numero_cartao{
        margin-left: 10px;
    }

    .btn{
        height: 6.0vh;
        margin-top:3.4vh;

    }


}


@media screen and (max-width:360px){
    .input{
        width:98%;
    }

    .input_data{
        width:13.4vh;
    }

    .input_num{
        width:13.4vh;
    }
}

@media screen and (max-width:280px) {
    .container{
        width:87%;
    }

    .input{
        width:30.4vh;
    }

    .input_data{
        width:12.4vh;
    }

    .input_num{
        width:12.4vh;
    }
}



