.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #FFA451, 50%, #F7F5F5 50%);
}

.container{
    height:50%;
    width:41%;
    background: #F7F5F5;
    padding: 24px;
    border-radius:10px;
    border: none;
    box-sizing:border-box;
    filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
    margin-top:20px;
}

.section{
    width:100%;
    height:100%;
    flex-direction: column;
    background: #F7F5F5;
    border-radius: 15px;
    align-items: center;
    gap:2.1vh;
    
    
}

.label{
    margin-top: 20px;
    color:#27214d;
    font-size: 2.3vh;

}

.input{
    width:57.1vh;
    height:7.8vh;
    background:#F7F5F5;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
    border-radius:10px;
    margin-bottom:10px;
}

.endereco{
    margin-left: 70px;
}

.numero{
    margin-left:70px;
}

.btn_cartao{
    background:#FCF6F0;
    color:#F08626;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.9vh;
    width:32.2vh;
    height:5.6vh;
    cursor: pointer;
    font-size:2.46vh;
    margin-top: 4.4vh;
}

.btn_entrega{
    background:#FCF6F0;
    color:#F08626;
    box-shadow: 2px 2px 2px rgba(169,169,169,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.9vh;
    width:23.2vh;
    height:5.6vh;
    cursor: pointer;
    font-size:2.46vh;
    margin-top: 4.4vh;
}

.grid{
    display:grid;
}

.gap{
    gap:4.2vh;
}

@media screen and (max-width:1280px){
    .container{
        width:50%;
    }

    .label{
        font-size:2.7vh;
    }
}

@media screen and (max-width:1024px){
    .container{
        width:50%;
    }

    .label{
        font-size:3.3vh;
    }

    .input{
        width:55.1vh;
    }

    .btn_cartao{
        width:26.4vh;
    }

    .btn_entrega{
        width:26.4vh;
    }
}

@media screen and (max-width:960px){
    .container{
        width:80%
    }
}

@media screen and (max-width:912px){
    .container{
        width:90%;
    }

    .input{
        width:47.1vh;
        border-radius: 20px;
    }

    .btn_cartao{
        width:22.4vh;
    }

    .btn_entrega{
        width:22.4vh;
    }
}

@media screen and (max-width:540px){
    .container{
        width:90%;
    }

    .input{
        width:54.1vh;
    }

    .endereco{
        margin-left:20px;
    }

    .numero{
        margin-left:20px;
    }

    .btn_cartao{
        width:26.4vh;
    }

    .btn_entrega{
        width:26.4vh;
    }
}

@media screen and (max-width:415px){
    .container{
        width:90%;
    }

    .input{
        width:34.1vh;
        border-radius: 15px;
    }

    .btn_cartao{
        width:16.4vh;
    }

    .btn_entrega{
        width:16.4vh;
    }
}

@media screen and (max-width:375px){
    .container{
        width:90%;
    }

    .input{
        width:42.1vh;
    }

    .endereco{
        margin-left: 10px;
    }

    .numero{
        margin-left:10px;
    }

    .btn_cartao{
        width:20.4vh;
    }

    .btn_entrega{
        width:20.4vh;
    }
}

@media screen and (max-width:360px){
    .container{
        width:90%;
    }

    .input{
        width:34.1vh;
    }

    .btn_cartao{
        width:16.4vh;
    }

    .btn_entrega{
        width:16.4vh;
    }
}

@media screen and (max-width:280px){
    .input{
        width:31.1vh;
    }

    .btn_cartao{
        width:14.4vh;
    }

    .btn_entrega{
        width:15.4vh;
    }
}

