html, body {
  overflow: hidden;
}

.carrinho {
  background: #FFA451;
  height: 8%;
  align-items: center;
  color: #ffffff;
}

.carrinho__gap {
  gap: 5.0vh;
  align-items: center;
  margin-left: 3.7vh;
  width: 54%;
  justify-content: space-between;
}

.volta {
  font-size: 1.8vh;
  line-height: 2.5vh;
  align-items: center;
  color: #27214D;
  background: #ffffff;
  border-radius: 100px;
  padding: 6px 8px;
  gap: 4px;
}

.volta::before {
  content: url(../../assets/img/seta__voltar.svg);
  font-size: 2.9vh;
}

/* aqui termina o header */

.carrinho__itens {
  height: 71%;
  margin-top: 3.5vh;
  justify-content: center;
}

.status {
  flex-direction: column;
  align-items: baseline;
  gap: 4.2vh;
}

.status__pedido {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5.6vh;
  margin-right: 100px;
}

.pedido__recebido--text {
  width: 57%;
  margin-left:7.7vh;
}

.pedido__img:hover {
  padding: 2.5vh;
  background: #F1EFF6;
  border-radius: 10px;
  width: 7.5vh;
  transform: scale(1.1);

}

.pedido__img {
  padding: 2.5vh;
  background: #F1EFF6;
  border-radius: 10px;
  width: 7.5vh;
  transition: transform 0.3s;
}



.pedido__refeicao--text {
  letter-spacing: -0.01em;
  font-weight: 300;
  font-size: 2.3vh;
  line-height: 5.1vh;
}

.verificado:hover{
  width: 3.1vh;
  padding: 7px;
  background: #4CD964;
  border-radius: 100px;
  transform: scale(1.1);
}

.verificado{
  width: 3.1vh;
  padding: 7px;
  background: #4CD964;
  border-radius: 100px;
  transition: transform 0.3s;
}

.pedido__telefone:hover {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../assets/img/telefone.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}

.pedido__telefone {
  cursor:auto;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../assets/img/telefone.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
}

.mapa__pedido {
  width: 100%;

}

.pedido__entregue {
  padding: 16px;
  width: 48px;
}

.start {
  justify-content: flex-start;
}

.entregue {
  width: 23px;
}

@media screen and (max-width:1280px) {
  .iframe__mapa{
    width: 100%;
  }

  .carrinho__itens{
    height: 82%;
  }

  .status__pedido{
    gap:0.6vh;
  }
}

@media screen and (max-width:1024px) {
  .pedido__recebido--text {
    width: 56%;
  }

  .status {
    gap: 3.2vh;
  }

  .iframe__mapa{
    width: 100%;
  }
  .carrinho__itens{
    height: 75%;
  }
  .status__pedido{
    gap:2.6vh;
  }

  .carrinho {
    height: 8%;
  }

  .pedido__entregue {
    width: 20px;
  }
}

@media screen and (max-width:912px) {
  .carrinho__gap {
    margin-left: 2.7vh;
    width: 59%;
  }
  .carrinho__itens{
    height: 80%;
  }

  .volta {
    font-size: 2.2vh;
    line-height: 2.2vh;
  }

  .status {
    font-size: 2.2vh;
  }
  .status__pedido{
    gap:3.6vh;
  }

  .iframe__mapa{
    width: 100%;
  }

  .pedido__telefone {
    width: 60px;
    height: 60px;
  }

  .entregue {
    width: 48px;
    height: 48px;
  }


  .pedido__recebido--text {
    font-size: 36px;
  }

  .preparo__pedido {
    font-size: 30px;
  }

  .entrega__pedido {
    font-size: 30px;
  }

  .pedido__refeicao--text {
    font-size: 30px;
  }

  .titulo__pedido {
    font-size: 30px;
  }
}

@media screen and (max-width:820px){
  .carrinho__itens{
    height: 80%;
  }
  .status__pedido{
    gap:2.6vh;
  }
  .pedido__img{
    width:5.5vh;
  }
  .titulo__pedido{
    margin-left:20px;
  }
  .iframe__mapa{
    width:100%;
  }
}

@media screen and (max-width:768px) {
  .carrinho__itens{
    height: 80%;
  }
  .status__pedido{
    gap:0.6vh;
  }
  .iframe__mapa{
    width:100%;
  }
  .titulo__pedido{
    margin-left:50px;
  }
}

@media screen and (max-width:540px) {
  .carrinho {
    height: 8%;
  }

  .carrinho__itens {
    height: 75%;
  }

  .iframe__mapa{
    width: 100%;
  }

  .pedido__img {
    width: 6.5vh;
  }

  .pedido__recebido--text {
    font-size: 21px;
    margin-left: 3px;
  }

  .status__pedido {
    gap: 0.6vh;
  }

  .pedido__img {
    width: 6.5vh;
  }

  .preparo__pedido {
    font-size: 20px;
  }

  .entrega__pedido {
    font-size: 20px;
  }

  .pedido__refeicao--text {
    font-size: 19px;
  }

  .pedido__telefone {
    width: 50px;
    height: 50px;
  }

  .mapa__pedido {
    width: 100%;
    height: 30%;
  }

  .entregue {
    width: 26px;
    height: 26px;
  }

  .pedido__entregue {
    padding: 16px;
    width: 17px;
  }

  .titulo__pedido {
    font-size: 18px;
    margin-left:20px;
  }
}

@media screen and (max-width:415px) {
  .carrinho__gap {
    margin-left: 1.2vh;
    width: 65%;
  }

  .carrinho__itens {
    width: 93%;
    margin-left: 17px;
  }

  .iframe__mapa{
    width: 385px;
    height:200px;
  }

  .volta {
    font-size: 1.7vh;
    line-height: 1.7vh;
  }

  .status {
    font-size: 1.7vh;
  }

  .status__pedido {
    gap: 0.6vh;
  }

  .pedido__img {
    width: 4.5vh;
  }

  .pedido__recebido--text {
    font-size: 18px;
  }

  .preparo__pedido {
    font-size: 16px;
  }

  .entrega__pedido {
    font-size: 15px;
  }

  .pedido__refeicao--text {
    font-size: 15px;
  }

  .verificado {
    width: 2.6vh;
    height: 2.6vh;
  }

  .titulo__pedido{
    margin-left:20px;
  }
}

@media screen and (max-width:412px) {
  .preparo__pedido {
    font-size: 13px;
  }
  .carrinho__itens{
    height:65%;
  }
  .iframe__mapa{
    width: 100%;
  }
  .status__pedido{
    gap:0.6vh;
  }
  .preparo__pedido{
    font-size:15px;
  }
  .entrega__pedido{
    font-size:15px;
  }
  .pedido__refeicao--text{
    font-size:15px;
  }
}

@media screen and (max-width:393px) {
  .entrega__pedido {
    font-size: 15px;
  }

  .iframe__mapa{
    width: 100%;
  }
  .pedido__recebido--text{
    font-size:19px;
  }
  .pedido__refeicao--text{
    font-size:15px;
  }
  .preparo__pedido{
    font-size:15px;
  }
}

@media screen and (max-width:390px){
  .iframe__mapa{
    width:100%;
  }
}

@media screen and (max-width:375px) {
  .status {
    font-size: 2.0vh;
  }

  .carrinho__itens {
    margin-left: 17px;
  }
  .status__pedido{
    gap:0.6vh;
  }

  .iframe__mapa{
    width: 100%;
    height:200px;
  }

  .verificado {
    width: 2.5vh;
    height: 2.5vh;
  }

  .pedido__telefone {
    width: 40px;
    height: 40px;
  }
  .pedido__recebido--text{
    margin-left:1px;
  }
}

@media screen and (max-width:360px) {
  .preparo__pedido {
    font-size: 14px;
  }
  .iframe__mapa{
    width: 100%;
  }
}

@media screen and (max-width:280px) {
  .carrinho__gap {
    height: 67%;
  }

  .status {
    font-size: 1.7vh;
  }

  .iframe__mapa{
    width: 99%;
  }

  .volta {
    font-size: 1.4vh;
    line-height: 1.4vh;
  }

  .pedido__recebido--text {
    font-size: 10px;
  }

  .preparo__pedido {
    font-size: 10px;
  }

  .entrega__pedido {
    font-size: 10px;
  }

  .pedido__refeicao--text {
    font-size: 10px;
  }

  .verificado {
    width: 1.9vh;
    height: 1.9vh;
  }

  .pedido__telefone {
    width: 30px;
    height: 30px;
  }
  .pedido__img{
    width:4.5vh;
  }

  .titulo__pedido {
    font-size: 12px;
    margin-left: 5px;
  }
  .status__pedido{
    gap:0.6vh;
  }
  .pedido__recebido--text{
    margin-left: 23px;
  }
}